





.gradle
.idea
.gradle/
.idea/
!.idea/dictionaries


*.iml
**/.idea/*
!**/.idea/runConfigurations/
!**/.idea/encodings.xml
!**/.idea/inspectionProfiles/
!**/.idea/dictionaries/




**/.dart_tool/
**/.gradle/
**/build/
**/gradle/
**/out/
**/CompileAndBuildStuff/



**/MessageBoardSystemDataBase.mv.db
**/MessageBoardSystemDataBase.trace.db
**/*pid*.log

**/.attach_pid*
**/local.properties
**/temp/
**/cache

**/exc_*

**/.gradle
